body {
    font-family: Roboto, Arial;
    height: 1300px;
    padding-top: 60px;
}

.header {
    height: 55px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.left-section {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.triple-bar {
    border: none;
    background-color: white;
    height: 45px;
    width: 45px;
    cursor: pointer;
}

.triple-bar:hover {
    background-color: rgb(236, 234, 234);
    border-radius: 25px;
}

.logo {
    height: 46px;
    cursor: pointer;
}

.middle-section {
    display: flex;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 600px;
    align-items: center;
}

.searchbar {
    height: 34px;
    flex: 1;
    font-size: 16px;
    padding-left: 10px;
    border: solid;
    border-width: 1px;
    border-color: rgb(212, 212, 212);
}

.searchbar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
}

.search {
    width: 60px;
    height: 38px;
    border: solid;
    border-width: 1px;
    border-color: rgb(212, 212, 212);
    cursor: pointer;
}

.search:hover {
    background-color: rgb(236, 234, 234);
}

.mic {
    width: 40px;
    height: 38px;
    border: none;
    border-radius: 20px;
    margin-left: 18px;
    cursor: pointer;
}

.mic:hover {
    background-color: rgb(236, 234, 234);
}

.right-section {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.create {
    border: none;
    background-color: white;
    margin-right: 6px;
    height: 46px;
    width: 46px;
    cursor: pointer;
}

.create:hover {
    border-radius: 22px;
    background-color: rgb(236, 234, 234);
}

.notifications {
    border: none;
    background-color: white;
    margin-right: 6px;
    height: 46px;
    width: 46px;
    cursor: pointer;
}

.notifications:hover {
    border-radius: 22px;
    background-color: rgb(236, 234, 234);
}

.profile {
    border: none;
    background-color: white;
    height: 46px;
    width: 46px;
    cursor: pointer;
}

.semi-header {
    display: flex;
    flex-direction: row;
    position: fixed;
}

.sidebar {
    width: 180px;
    display: inline-block;
    justify-content: center;
    margin-right: 100px;
    padding-left: 10px;
    background-color: white;
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
}

.text {
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 10px;
    font-size: 8px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.text:hover {
    border: none;
    background-color: rgb(236, 234, 234);
    border-radius: 10px;
    padding: 20px;
}

.home {
    width: 18px;
    padding-bottom: 8px;
}

.shorts {
    width: 18px;
    padding-bottom: 8px;
}

.sub {
    width: 18px;
    padding-bottom: 8px;
}

.library {
    width: 18px;
    padding-bottom: 8px;
}

.varieties {
    height: 34px;
    display: flex;
    flex: 1;
    align-items: center;
    font-size: 16px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid;
    border-width: 1px;
    border-color: rgb(212, 212, 212);
    border: none;
    position: fixed;
    top: 60px;
    left: 190px;
    background-color: white;
}

.button {
    border: none;
    border-radius: 5px;
    border-color: gray;
    cursor: pointer;
    padding: 7px;
    margin-right: 20px;
}

.button:hover {
    background-color: rgb(213, 213, 213);
}

.youtube-vids {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 182px;
    margin-top: 50px;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: rgb(213, 213, 213);
}

.video-preview {
    display: inline-block;
    margin-bottom: 30px;

}

.thumbnail {
    width: 90%;
    border-radius: 12px;
    transition: border-radius 0.8s;
}

.thumbnail:hover {
    border-radius: 0;
}

.below-thumbnail {
    margin-top: 6px;
    display: grid;
    grid-template-columns: 50px 1fr;
}

.display-photos {
    display: inline-block;
    vertical-align: top;
    width: 10%;
}

.prof-pic {
    display: inline-block;
    width: 38px;
    border-radius: 25px;
}

.video-info {
    position: static;
    display: grid;
    grid-template-columns: 1fr;
}

.video-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 30px;
    display: inline-block;
    vertical-align: top;
}

.video-author {
    font-size: 12px;
    color: gray;
    margin-top: 5px;
    margin-bottom: 0;
    display: inline-block;
}

.video-stats {
    font-size: 12px;
    color: gray;
    margin-top: 0.3px;
    margin-bottom: 0;
    display: inline-block;
}

.youtube-shorts {
    display: inline-block;
    margin-left: 180px;
    padding-bottom: 40px;
    position: static;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: rgb(213, 213, 213);
}

.shorts-preview {
    display: inline-block;
    width: 180px;
    margin-right: 8.2px;
}

.shorts-thumbnail {
    display: inline-block;
    position: static;
    margin-top: 50px;
    width: 180px;
    border: none;
    border-radius: 12px;
}

.shorts-info {
    display: inline-block;
    width: 190px;
}

.shorts-title {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 0;
    padding-bottom: 6px;
    width: 190px;
    font-size: 14px;
    font-weight: bold;
}

.shorts-stats {
    display: inline-block;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    width: 190px;
    color: gray;
}
